<div class="container">
    <h5 class="text-center" style="color: #236259; font-weight: bold;">ASIGNACIÓN DE USUARIOS Y ROLES</h5>
  
    <div class="row">
      <!-- Tabla de Menús -->
      <div class="col-md-6">
        <div class="mb-3">
          <input 
            type="text" 
            class="form-control cada"
            placeholder="Buscar menú por nombre" 
            [(ngModel)]="busquedaUsuario" 
            (input)="filtrarUsuario()" 
          />
        </div>
  
        <div class="table-responsive">
          <table class="table tabla-sombra">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Seleccionar</th>
                <th scope="col">Lista de Usuarios</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usu of usuariosFiltrados; let i = index">
                <td>{{ i + 1 }}</td>
                <td>
                  <input 
                    type="radio" 
                    name="menuSelection" 
                    (change)= "selectUsuario(usu.login)" 
                    [checked]="selectedUsu === usu.login" 
                  />
                </td>
                <td>{{ usu.login }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
      <!-- Tabla de Procesos y filtro de estado -->
      <div class="col-md-6">
        <!-- Filtro de estado -->
        <div class="mb-3">
          <div class="form-check form-check-inline">
            <input 
              class="form-check-input" 
              type="radio" 
              name="estadoFiltro" 
              id="estadoActivo" 
              [value]="1" 
              [(ngModel)]="estadoFiltro" 
              (change)="filtrarRolPorEstado()" 
            />
            <label class="form-check-label" for="estadoActivo">Activo</label>
          </div>
          <div class="form-check form-check-inline">
            <input 
              class="form-check-input" 
              type="radio" 
              name="estadoFiltro" 
              id="estadoBaja" 
              [value]="0" 
              [(ngModel)]="estadoFiltro" 
              (change)="filtrarRolPorEstado()" 
            />
            <label class="form-check-label" for="estadoBaja">Baja</label>
          </div>
  
          <div class="form-check form-check-inline">
            <input 
              class="form-check-input" 
              type="radio" 
              name="estadoFiltro" 
              id="estadoTodo" 
              [value]="-1" 
              [(ngModel)]="estadoFiltro" 
              (change)="filtrarRolPorEstado()" 
            />
            <label class="form-check-label" for="estadoTodo">Todo</label>
          </div>
        </div>
  
        <!-- Tabla de Procesos -->
        <div class="table-responsive">
          <table class="table tabla-sombra">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Seleccionar</th>
                <th scope="col">Lista de Roles</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rol of  filteredRoles; let j = index" 
                  [ngClass]="{'text-muted': rol.estado === 0}">
                <td>{{ j + 1 }}</td>
                <td>
                  <input 
                    type="checkbox" 
                    [checked]="procesosAsignados.includes(rol.idrol)" 
                    (change)="onProcessChange(rol.idrol, $event)" 
                    [disabled]="rol.estado === 0" 
                  />
                </td>
                <td>{{ rol.nombre }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
