<table class="table tabla-sombra">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">FECHA</th>
      <th scope="col">CLIENTES</th>
      <th scope="col">IMPORTE</th>
      <th scope="col"> ESTADO </th>
      <th scope="col" colspan="2" class="text-center"> ACCIONES </th>
    </tr>
  </thead>
  <tbody *ngFor="let serfa of apiSerfaena | paginate: { itemsPerPage: 6, currentPage: pageActual } ; index as con">
    <tr>
      <td *ngIf="serfa.estado == 1" class="activo" scope="col">{{con+1}}</td>
      <td *ngIf="serfa.estado == 0" class="inactivo" scope="col">{{con+1}}</td>
      <td *ngIf="serfa.estado == 1" class="activo">{{serfa.fecser  | date: 'dd/MM/yyyy'}} </td>
      <td *ngIf="serfa.estado == 0" class="inactivo">{{serfa.fecser  | date: 'dd/MM/yyyy'}} </td>
      <td *ngIf="serfa.estado == 1" class="activo">{{serfa.clientes.nomcli}} </td>
      <td *ngIf="serfa.estado == 0" class="inactivo">{{serfa.clientes.nomcli}} </td>
      <td *ngIf="serfa.estado == 1" class="activo">{{serfa.impser}} </td>
      <td *ngIf="serfa.estado == 0" class="inactivo">{{serfa.impser}} </td>


      <td>
        <!-- estado -->
        <a *ngIf="serfa.estado == 1" class="btn-custom">Activo</a>
        <a *ngIf="serfa.estado == 0" class="btn-customm">Inactivo</a>
      </td>
      <!--Eliminacion logica-->
      <td>
        <a *ngIf="serfa.estado==1" href="javascript:void(0)" (click)="llamaModalDel(contentDel, serfa)"
          class="bi bi-trash-fill enlace-icono"></a>
        <a *ngIf="serfa.estado==0" class="bi bi-trash-fill enlace-iconoo"></a>
      </td>
      <td>
        <a *ngIf="serfa.estado==1" href="javascript:void(0)" (click)="llamaModalMos(contentMos, serfa)"
        class="bi bi-eye-fill enlace-icono"></a>
        <a *ngIf="serfa.estado==0" class="bi bi-eye-fill enlace-icono"></a>
        <a></a>
      </td>

    </tr>
  </tbody>
  <tfoot>
    <td colspan="8" align="center">
      <pagination-controls (pageChange)="pageActual = $event" previousLabel="" nextLabel=""
        class="my-pagination"></pagination-controls>
    </td>
  </tfoot>

</table>

<!-- VENTANA MODAL PARA OPCION ELIMINAR xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  -->
<ng-template #contentDel let-c="close" let-d="dismiss">
  <div class="modal-cu">
  </div>
  <div class="modal-body">
    <h5 class="text-center">¿Esta seguro? Se eliminara el servicios del cliente:
      <h5 style="color:#236259; font-weight: bold;"><strong>{{ serfaenaI.clientes.nomcli }}</strong></h5>
    </h5>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmitDel()">
    <div class="modal-pie">
      <button type="button" class="btn-custoo" (click)="c('Save click')"> Cancelar</button>
      <button type="submit" class="btn-custo"> Aceptar </button>
    </div>
  </form>
</ng-template>

<!-- VENTANA MODAL PARA OPCION MOSTRAR  *************************************************************  -->
<ng-template #contentMos let-c="close" let-d="dismiss">

  <div class="modal-body">
    <h4 class="text-center" style="color:#236259; font-weight: bold;">DETALLE DE SERVICIOS DE FAENA</h4><br>
    <h6 class="mixtadm text-center">FECHA:</h6>
    <h6 class="mixtadm text-center">{{ serfaenaI.fecser | date: 'dd/MM/yyyy'}}</h6>
    <h6 class="mixtadm text-center">Nº RECIBO:</h6>
    <h6 class="mixtadm text-center">{{ serfaenaI.numfae }}</h6>
    <h6 class="mixtadm text-center">CLIENTES:</h6>
    <h6 class="mixtadm text-center">{{serfaenaI.clientes.nomcli}}</h6>

    <h6 class="mixtadm text-center">NIT.:</h6>
    <h6 class="mixtadm text-center">{{serfaenaI.clientes.nit}}</h6>

    <table class="table tabla-sombra-2">
      <thead class="thead-light">
        <tr>
          <th class="text-center">CANT.</th>
          <th class="text-center">DESCRIPCIÓN </th>
          <th class="text-center">P.UNIT.</th>
          <th class="text-center">SUBTOTAL</th>
        </tr>
      </thead>
      <tbody *ngFor=" let det of apiDetserfa, index as con">
        <tr>
          <td scope="col" class="text-center">{{det.canser}}</td>
          <td scope="col" >{{det.tiposervicios.nomser}} DE RAZA {{det.animales.razas.nomraz}} CON UN PESO DE {{det.animales.pesani}} KG.</td>
          <td scope="col" class="text-center">{{det.preser}}</td>
          <td scope="col" class="text-center">{{det.preser}}</td>
        </tr>

      </tbody>
      <tr>
        <td colspan="3" class="text-center">TOTAL</td>
        <td class="text-center">{{ serfaenaI.impser }}</td>
      </tr>
    </table>
  </div>

  <div class="modal-pie">
    <button type="button" class="btn-custoo" (click)="c('Save click')"> Cancelar </button>
    <button type="submit" class="btn-custo" (click)="createPdf()">Crear PDF</button>
   

  </div>
</ng-template>